* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    height: 100vh;
    background: red;
    display: flex;
    flex-direction: column;
}

.mathi_div{
    background: gold; 
    flex: 11; 
    display: flex;
}

.sidenav{
    background-color: #111;
    max-width: 250px;
    flex: 2;
}

a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}
  
/* :hover {
    color: #f1f1f1;
} */

.traffic {
    background: #eee; 
    flex: 5;
    max-width: 40%;
    min-height: 100%;
    color: black;
    overflow: scroll;
}

.charts {
    background: white; 
    flex: 5;
    /* max-width: 40%; */
    color: black;
}
.plots{
    margin-top: 50px;
}

.tala_div{
    background: rgb(41, 41, 41); flex: 1;
}

.material-symbols-outlined{
    color: white;
    font-size:60px;
}