@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    background: green;
    display: flex;
    flex-direction: column;
}

.mathi_div {
    background: gold;
    /* flex: 11; */
    display: flex;
    width: 100%;
    height: 90vh;
}

.sidenav {
    background-color: #111;
    width: 20vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.sidenav .buttonHolder {
    flex: 0 0 100%;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 10px 0;
}
.sidenav .buttonHolder button {
    outline: none;
    border: 2px solid #adadad;
    background-color: #0c4c77;
    color: #dadada;
    padding: 10px;
    width: 90%;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition: 100ms linear
}
.sidenav .buttonHolder button:hover {
    transform: scale(1.05);
    background-color: #27e48f;
    color: #111;
}
.sidenav .stopMonitoring button {
    background-color: #770c0c;
    color: #dadada;
}
.sidenav .stopMonitoring button:hover {
    background-color: #e23939;
    color: #000000;
}

.form {
    background-color: white;
    width: 100%;
    overflow: scroll;
    border: 1px solid green;
}
.dataForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.dataForm div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}
.dataForm div input {
    padding: 10px;
    margin: 5px 10px;
    flex: 0 0 10%;
}
.csvForm {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
.csvForm div {
    flex: 0 0 80%;
    display: flex;
    margin: 5px 10px;
    padding: 10px;
}
.csvForm div:last-child,
.csvForm div:first-child {
    justify-content: center;
}
.form-submit-button {
    background: #ff2525;
    color: #fff;
    border: 1px solid #eee;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    padding: 10px;
    transition: 400ms ease;
}

.form-submit-button:hover {
    background: #ff5151;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

.traffic {
    background: #eee;
    /* margin: auto; */
    width: 100%;
    height: 100%;
    /* flex: 5; */
    /* max-width: 40%; */
    /* min-height: 100%; */
    color: black;
    overflow: scroll;
}

.showMore {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    padding: 20px;
}

.showMore > div {
    flex: 0 0 30%;
    padding: 10px;
    margin: 10px;
    border: 1px solid green;
    text-align: center;
    border-radius: 10px;
}

.showMore > div:last-child {
    border: none;
    padding: 0;
}

.showMore > div > button {
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid rgb(42, 12, 153);
    color: rgb(42, 12, 153);
    border-radius: 10px;
}

.showMore > div > button:hover {
    background-color: #181414;
    color: rgb(221, 219, 98);
}

/* 
.charts {
    background: white;
    /* flex: 5; */
/* max-width: 40%; */
/* color: black; */
/* } */
/* .plots {
    margin-top: 50px;
} */

.tala_div {
    position: fixed;
    bottom: 0;
    background: rgb(41, 41, 41);
    height: 10vh;
    width: 100vw;
    /* flex: 1; */
}

.material-symbols-outlined {
    color: white;
    font-size: 60px;
}

.logs {
    background-color: #fff;
    width: 100%;
    /* height: auto; */
    /* padding: 20px; */
    overflow: scroll;
}

.logs h3 {
    position: sticky;
    top: 0;
    background-color: #222;
    color: white;
    margin: 0;
    padding: 20px;
}

* table {
    width: 90%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    margin-top: 20px;
}

* table thead {
    background: #333;
    color: white;
}

* table tr {
    border: 1px solid gray;
}

* table td,
* table th {
    padding: 10px;
}

.logs button {
    position: fixed;
    top: 5%;
    right: 5%;
}

.scatter {
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: white;
}

.landing {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #292929;
    color: #fff;
}

.landing button {
    margin: 10px;
    background: #1a71ab;
    color: #fff;
    border: 2px solid #cf784f;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 300ms linear;
    outline: none;
    border-radius: 10px;
}
.landing button:hover {
    background: #27e48f;
    /* border: 2px solid #1a71ab; */
    color: #000000;
    transform: scale(1.1);
}

/* #alert {
    height: 300px;
} */

.attack {
    background: rgb(255, 80, 80);
    /* color: white; */
}

.benign {
    background: rgb(152, 255, 152);
    /* color:white */
}
