* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    height: 100vh;
    background: red;
    display: flex;
    flex-direction: column;
}

.mathi_div{
    background: gold; 
    flex: 11; 
    display: flex;
}

.sidenav{
    background-color: #111;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    flex: 2;
}

.form{
    flex:10;
    background-color: white;
    padding-top: 130px;
    padding-left: 40px;
}
.form input{
    width: 110px;
    margin: 2px;
    padding: 10px;
}

.form-submit-button {
	background: #ff2525;
	color: #fff;
	border: 1px solid #eee;
	border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
    padding: 10px;
    transition: 400ms ease;
}

.form-submit-button:hover {
	background: #ff5151;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}

a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

  
/* :hover {
    color: #f1f1f1;
} */

.traffic {
    background: #eee; 
    flex: 5;
    max-width: 40%;
    min-height: 100%;
    color: black;
    overflow: scroll;
}

.charts {
    background: white; 
    flex: 5;
    /* max-width: 40%; */
    color: black;
}
.plots{
    margin-top: 50px;
}

.tala_div{
    background: rgb(41, 41, 41); flex: 1;
}

.material-symbols-outlined{
    color: white;
    font-size:60px;
}